@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide number input spinners in Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.spinner {
  @apply h-10 w-10 border-4 border-richblack-200 border-t-transparent rounded-full animate-spin;
}

